body {
    background: linear-gradient(#9049c6, #411a77);
    background-size: cover;
    height: 100vh;
}
.title {
    color: white;
    font-size: 40px;
    font-family: 휴먼둥근헤드라인;
}
.login-form-container {
    display: grid;
    place-items: center;
    height: 90vh; /* 화면 높이의 100%로 설정하여 화면 중앙에 배치 */
}
.login-form-container2{
    place-items: center;
    display: grid;
}
.login-form {

    background-color: #FFFFFF;
    width: 500px;
    height: 450px;
    border-radius: 50px;
    padding: 5px;
    box-shadow: 10px 10px 30px #371454;

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;

}

.login-form h2 {
    margin: 40px;
    font-size: 35px;
}

.p-inputgroup {
    margin-bottom: 10px;
    width: 350px;
}

.p-inputgroup-addon {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-right: none;
}

.p-inputtext {
    width: 100%;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0;
}
.login-btn {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 15px;
    background-color: #7d3fb3;
}
.login-bottom {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
}
.login-bottom-container {
    width: 100%;
    margin-top: 15px;
    padding:10px;
}
.login-why {
    margin-left: 30px;
    width: 250px;
}
